#ember-testing-container {
  position: absolute;
  background: white;
  top: 150px;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: auto;
  z-index: 9999;
  border-left: 5px dashed #888;
}

#ember-testing {
  zoom: 50%;
}
