<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-12 main">
      {{partial 'partials/navbar'}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 main">
      {{outlet}}
    </div>
  </div>
</div>
